<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sporty Shoes</title>
    <link rel="stylesheet" href="/css/sporty.css">
</head>
<body>
<h4 th:text="'User '+${session.user['name']}+' '+${session.user['lastname']}"></h4>
<h2 th:text="'Wellcome to Sporty Shoes'"></h2>
<div class="row">
    <div class="column">
        <h4 th:text="'Our products'"></h4>
        <table>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr th:each="product:${products}">
                <td th:text="${product.brand}"/>
                <td th:text="${product.model}"/>
                <td th:text="${product.size}"/>
                <td th:text="${product.price}"/>
                <td th:text="${product.quantity}"/>
                <td>
                    <a th:href="@{/purchase/{purchaseId}/add/{productId} (purchaseId=${session.purchase['id']}, productId=${product.id}) }">Buy</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="column">
        <h4 th:text="'Shopping cart'"></h4>
        <table>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </table>
    </div>
    </div>
</div>
</body>
</html>